body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container{
 display: flex;
}

.billing{
  width: 70%;
  color: black;
  background: #FFFFFF;
}

.sidebar{
  display: flex;
  width: 30%;
  background-color: #D9D9D9;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: row;  
}

.card{
 width: 319px;
 height: 227px;
 background-image: url('./images/people.svg');
 border-radius: 11%; 
 margin-left: 20px;
 margin-top: 50px;
}

.heading{
  padding: 10px;
  margin: auto;
  margin-left: 15px;
 
}

.pill{
  /* width: 100px; */
  position: absolute;
  background-color: #74A67E;
  border-radius: 60px;
  padding: 5px;
  margin-left: 100px;
  margin-top: 10px;
  color: white;
}

.description{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 30px;
}

.logo{
  color: rgb(12,7,78);
  text-shadow:  1px 0px 5px rgba(12, 7, 78, 1);
}

.industry-word{
  font-size: 25px;
  padding: 10px;
}

/* .amount{
  margin-top: 240px;
} */

.payment-button{
  background-color: #7372FE;
  width: 334px;
  height: 55px;
  padding: 5px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 20px;
}

 /* Media Query for Mobile Devices */
@media (min-width: 300px) and (max-width: 900px) {
  .container{
    flex-direction: column;
  }

  .main-container{
    flex-direction: column-reverse;
    width: 100vw;
  }

  .sidebar{
    width: 100%;
    justify-content: space-between;
  }

  .payment-button{
    /* margin-left: 6px; */
  }
  .billing{
    justify-content: center;
    align-items: center;
  }

}

/* 
.card-image{
  background-image: url('/images/bg-card-front.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 900px;
}

.card-logo{
  position: absolute;
  top:0.8rem;
  left: 40.8rem;
}

.card-number{
  position: absolute;
} */


